@model IEnumerable<SistemaDocumentoNetCore.Models.Documento>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Insira um Novo Documento</a>
</p>    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th class="disable">
                @Html.DisplayNameFor(model => model.Arquivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arquivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentoId" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentoId" class="btn btn-success">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentoId" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

